atari_py>=0.1.7
graphviz>=0.8.2
gym>=0.10.9
gym-super-mario-bros>=7.1.1
h5py>=2.8.0
jupyter>=1.0.0
Keras>=2.2.4
matplotlib>=3.0.2
numpy>=1.15.3
opencv-python>=3.4.3.18
pandas>=0.23.4
pygame>=1.9.3
tensorflow>=1.12.0rc2
tqdm>=4.19.5
